html {
	box-sizing:border-box;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	overflow-x:hidden;
}
html,body {
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
body {
	margin:0;
}
h1 {
	font-size:36px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:24px;
}
h4 {
	font-size:20px;
}
h5{
	font-size:18px;
}
h6 {
	font-size:16px;
}
h1,h2,h3,h4,h5,h6 {
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0;
}
img {
	border-style:none;
	margin-bottom:-5px;
}

a {
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
	color:inherit;
}
a:active,a:hover {
	outline-width:0;
}
.sidebar {
	height:100%;
	width:200px;
	background-color:#fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
}
/*
.bar-block {
	width:100%;
	text-align:left;
	padding:8px 16px;

}*/
.bar-block .bar-item{
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
}
.light-grey {
	color:#000!important;
	background-color:#f1f1f1!important;
}
.container {
	padding:0.01em 16px;
}
.black {
	color:#fff!important;
	background-color:black!important;
}
.block {
	display:block;
	width:100%;
}
.green {
	color:#fff!important;
	background-color:#4CAF50!important;
}
.left-align {
	text-align:left!important;
}
.hide {
	display:none!important;
}
.white {
	color:#000!important;
	background-color:#fff!important;
}
.card {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.show {
	display:block!important;
}
